# Classification Model

In [2]:
import pandas as pd
cuisines_df = pd.read_csv("../data/cleaned_cuisines.csv")
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
cuisines_label_df = cuisines_df['cuisine']
cuisines_label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [4]:
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_recall_curve
import numpy as np

In [8]:
x_train, x_test, y_train, y_test = train_test_split(cuisines_feature_df, cuisines_label_df, test_size=0.3)

In [21]:
c = 10
#create different classifiers
classifiers = {
    'Linear SVC' : SVC(kernel='linear', C=c, probability=True, random_state=0),
    'KNN Classifier' : KNeighborsClassifier(c),
    'SVC' : SVC(kernel='rbf', C = 10, gamma="scale"), #Support Vector Classifier
    'RFST': RandomForestClassifier(n_estimators=100), #Emsamble Cllasifier
    'ADA': AdaBoostClassifier(n_estimators=100)
}

In [22]:
n_classifiers = len(classifiers)
for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(x_train, np.ravel(y_train))
    y_pred = classifier.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print("Accuraccy (train) of %s: %0.1f%%" %(name, accuracy * 100))
    print(classification_report(y_test, y_pred))

Accuraccy (train) of Linear SVC: 81.0%
              precision    recall  f1-score   support

     chinese       0.71      0.75      0.73       235
      indian       0.90      0.88      0.89       254
    japanese       0.83      0.76      0.79       236
      korean       0.86      0.77      0.82       247
        thai       0.76      0.89      0.82       227

    accuracy                           0.81      1199
   macro avg       0.81      0.81      0.81      1199
weighted avg       0.81      0.81      0.81      1199

Accuraccy (train) of KNN Classifier: 74.4%
              precision    recall  f1-score   support

     chinese       0.67      0.72      0.70       235
      indian       0.81      0.77      0.79       254
    japanese       0.68      0.81      0.74       236
      korean       0.92      0.57      0.71       247
        thai       0.72      0.85      0.78       227

    accuracy                           0.74      1199
   macro avg       0.76      0.75      0.74      1199
weighted avg       0.76      0.74      0.74      1199

Accuraccy (train) of SVC: 84.1%
              precision    recall  f1-score   support

     chinese       0.80      0.80      0.80       235
      indian       0.90      0.91      0.90       254
    japanese       0.90      0.77      0.83       236
      korean       0.87      0.81      0.83       247
        thai       0.76      0.93      0.84       227

    accuracy                           0.84      1199
   macro avg       0.84      0.84      0.84      1199
weighted avg       0.85      0.84      0.84      1199

Accuraccy (train) of RFST: 85.9%
              precision    recall  f1-score   support

     chinese       0.83      0.81      0.82       235
      indian       0.92      0.91      0.92       254
    japanese       0.88      0.81      0.85       236
      korean       0.88      0.83      0.85       247
        thai       0.79      0.93      0.86       227

    accuracy                           0.86      1199
   macro avg       0.86      0.86      0.86      1199
weighted avg       0.86      0.86      0.86      1199

Accuraccy (train) of ADA: 69.7%
              precision    recall  f1-score   support

     chinese       0.63      0.61      0.62       235
      indian       0.87      0.79      0.83       254
    japanese       0.52      0.83      0.64       236
      korean       0.84      0.64      0.72       247
        thai       0.79      0.62      0.69       227

    accuracy                           0.70      1199
   macro avg       0.73      0.70      0.70      1199
weighted avg       0.73      0.70      0.70      1199