# Build More Classification Models

In [57]:
import pandas as pd
recipes_df = pd.read_csv("../../data/cleaned_cuisine.csv")
recipes_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [58]:
recipes_label_df = recipes_df['cuisine']
recipes_label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [59]:
recipes_feature_df = recipes_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
recipes_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# Try different classifiers

In [60]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np

In [61]:
X_train, X_test, y_train, y_test = train_test_split(recipes_feature_df, recipes_label_df, test_size=0.3)

In [62]:

C = 10
# Create different classifiers.
classifiers = {
    'Linear SVC': SVC(kernel='linear', C=C, probability=True,random_state=0),
    'KNN classifier': KNeighborsClassifier(C),
    'SVC': SVC(),
    'RFST': RandomForestClassifier(n_estimators=100),
    'ADA': AdaBoostClassifier(n_estimators=100)
    
}

In [63]:
n_classifiers = len(classifiers)

for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train, np.ravel(y_train))

    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print("Accuracy (train) for %s: %0.1f%% " % (name, accuracy * 100))
    print(classification_report(y_test,y_pred))

Accuracy (train) for Linear SVC: 79.7%
              precision    recall  f1-score   support

     chinese       0.71      0.73      0.72       232
      indian       0.91      0.88      0.89       251
    japanese       0.76      0.78      0.77       239
      korean       0.86      0.75      0.80       244
        thai       0.76      0.84      0.80       233

    accuracy                           0.80      1199
   macro avg       0.80      0.80      0.80      1199
weighted avg       0.80      0.80      0.80      1199

Accuracy (train) for KNN classifier: 72.9%
              precision    recall  f1-score   support

     chinese       0.62      0.68      0.65       232
      indian       0.87      0.82      0.85       251
    japanese       0.62      0.83      0.71       239
      korean       0.92      0.55      0.68       244
        thai       0.73      0.76      0.75       233

    accuracy                           0.73      1199
   macro avg       0.75      0.73      0.73      1199
weighted avg       0.76      0.73      0.73      1199

Accuracy (train) for SVC: 81.8%
              precision    recall  f1-score   support

     chinese       0.78      0.71      0.74       232
      indian       0.92      0.90      0.91       251
    japanese       0.79      0.80      0.80       239
      korean       0.85      0.78      0.82       244
        thai       0.75      0.89      0.81       233

    accuracy                           0.82      1199
   macro avg       0.82      0.82      0.82      1199
weighted avg       0.82      0.82      0.82      1199

Accuracy (train) for RFST: 83.3%
              precision    recall  f1-score   support

     chinese       0.80      0.75      0.77       232
      indian       0.91      0.92      0.91       251
    japanese       0.81      0.82      0.82       239
      korean       0.85      0.81      0.83       244
        thai       0.79      0.86      0.82       233

    accuracy                           0.83      1199
   macro avg       0.83      0.83      0.83      1199
weighted avg       0.83      0.83      0.83      1199

Accuracy (train) for ADA: 70.8%
              precision    recall  f1-score   support

     chinese       0.60      0.45      0.51       232
      indian       0.90      0.81      0.85       251
    japanese       0.65      0.72      0.68       239
      korean       0.72      0.76      0.74       244
        thai       0.67      0.79      0.72       233

    accuracy                           0.71      1199
   macro avg       0.71      0.71      0.70      1199
weighted avg       0.71      0.71      0.70      1199